<div ng-controller="eModuleTableController" class="table-responsive" ng-init="eModuleTable.init()">
       <table class="table table-hover">
           <thead>
                <tr>
                    <th>#{{refrechTable}}</th>
                    <th>Intitulée</th>
                    <th>Propriétaire</th>
                    <th>Dernière modification</th>
                 </tr>
           </thead>
           <tbody>
                 <tr ng-repeat="eModule in eModuleTable.items | filter : eModuleTable.search"  ng-class="{'tr_active' : eModuleTable.selectedIndex == $index}" ng-mousedown="eModuleTable.clicked($index,eModule._id,eModule.intitulee)" context-menu="eModuleTable.menuOptions"  ng-click="eModuleTable.clicked($index,eModule._id,eModule.intitulee)">
                    <td>{{$index}}</td>
                    <td>{{eModule.intitulee}}</td>
                    <td>{{eModule.createdBy.nom}}</td>
                    <td>{{eModule.lastUpdate}} <h6>{{eModule.updatedBy.nom}}</h6></td>
                 </tr>
            </tbody>
       </table>   
</div>
    